@use "../interfaces/page";

@include page.checkout;

.c-brand--form {
    max-width: 980px;
    margin: 0 auto;
    padding: 1em;
}

.c-brand--form__legend,
#reviewOrder .FormHeadlineL {
    background: #13216a;
    text-align: left;
}

.dtm .c-brand--form__legend .c-brand--form__headline,
#reviewOrder .FormHeadlineL {
    font-size: 1.6rem;
}

.dtm .dtm__in .c-brand--form__fieldset,
.dtm .dtm__in #reviewOrder {
    border: 1px solid #444;
}

#calltoAction {
    border: none;
}

#reviewOrder table {
    max-width: 98%;
    margin: 1rem auto;
}