$select: ".review" !default;
$desktop: 1000px !default;
$breakpoint: 240px !default;

@use "../layouts/queries";

@mixin new {
    #{$select} {
        $gap: 2rem;
        padding: 3rem 0;

        &__slide {
            margin: auto;
            max-width: 900px;
            position: relative;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }

        &__in {
            position: relative;
        }

        &__into {
            margin: 0 -#{$gap};
            max-width: 760px;
            width: 100%;

            @media all and (max-width: $breakpoint) {
                display: block;
            }

            @media all and (min-width: $desktop) {
                align-items: center;
            }
        }

        &__group {
            margin: 0;

            @media all and (min-width: $breakpoint) {
                display: flex;
                flex-wrap: wrap;
                justify-content: stretch;
                flex: 1;
            }
        }

        @media all and (max-width: $breakpoint) {
            &__item {
                display: block;
            }
        }

        &__quote {
            flex: 1 1 250px;
            text-align: center;
            margin: #{$gap};

            font-weight: 500;
            font-size: 1.8rem;

            @media all and (max-width: $breakpoint) {
                margin: #{$gap} 0;
            }

            @media (max-width: queries.$md) {
                font-size: 1.4rem;
            }

            strong {
                font-weight: 800;
                margin: 0.5em 0;
                display: block;
            }
        }

        &__footer {
            font-style: italic;
            font-weight: 400;
            font-size: 1.4rem;
        }

        &__title {
            display: block;
            margin-bottom: 1rem;
        }

        &__product {
            text-transform: capitalize;
        }

        @media all and (max-width: $desktop) {
            &__nav {
                order: 1;
                height: auto;
                flex: 0 1 10em;
                margin: 0;

                button {
                    margin: 0.5rem;
                    padding: 0.25em 0.5em;
                    font-size: 1em;
                    flex: 1;
                }
            }
        }

        @media all and (max-width: $breakpoint) {
            & &__nav,
            & &__thumbnails {
                display: none;
            }
        }

        @content;
    }
}

@mixin stars {
    #{$select} {
        &__stars {
            font-size: 2em;
            color: #ffde00;

            > svg {
                margin: 0;
            }
        }

        &__star::before {
            $character-code: e9d9;
            content: unquote('"\\#{$character-code}"');
            font-family: "Icomoon";
        }

        @content;
    }
}

@mixin stacked {
    #{$select} {
        &__item--stacked {
            border-bottom: 2px solid #ccc;
            padding: 0 0 1em;
            display: flex;
            justify-content: space-around;
            align-items: flex-start;

            > * {
                margin: 1em;
                flex: 1;
            }

            picture {
                max-width: 300px;
                background: whitesmoke;
            }

            @media (max-width: queries.$sm) {
                & picture {
                    flex: 0 1 100%;
                }

                & {
                    flex-wrap: wrap;
                }
            }
        }
    }
}
